.craft-application {
    min-width: 300px;
    min-height: 250px;
}

.craft-application .window-content{
    background-image: url(/../../../systems/wfrp4e/ui/frames/parchment-texture.webp) !important;
    padding: 10px !important;
    overflow: hidden;
}

.craft-application .root {
    height: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.craft-application .header {
    width: 100%;
    height: 20px;
    margin: 0px;
    padding: 0px 12px 0px 6px;
    border: 1px solid #736953a6;
    font-family: var(--actor-label-font-family);
    font-size: var(--actor-label-font-size);
    font-weight: var(--actor-label-font-weight);
    color: var(--actor-label-color);
    background: none;
    box-shadow: 0 0 10px #6b3a0f87 inset;
    text-align: left;
    display: inline-flex;
}

.craft-items-list {
    width: 100%;
    text-align: center;
    list-style-type: none;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    padding: 0px;
}

.craft-application .items-placeholder {
    color: gray; font-style: italic;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.craft-items-section {
    flex:1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    border: 1px solid #736953a6;
    border-top: none;
    padding: 10px;
}

.craft-items-section:not(:last-child) {
    margin-bottom: 10px;
}

.craft-item:not(:last-child) {
    margin-bottom: 10px;
}

.craft-item .item-content {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px 0px !important;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: var(--actor-input-color);
    justify-content: start;
}

.craft-item .item-content .item-body {
    display: flex;
    flex-direction: row;
    min-width: 220px;
    flex: 1;
}

.craft-item .item-content .item-icon {
    background-size: 32px;
    background-repeat: no-repeat;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
}
.craft-item .item-content a {
    text-align: left;
    vertical-align: middle;
    padding: 11px 0px 0px 4px;
    overflow: hidden;
    width: 100%;
}

.craft-item .item-content .craft-item-controls {
    padding: 5px 0px 0px 0px;
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    color: #504f48a6;
    text-align: center;
    min-width: 30px;
    max-width: 30px;
    flex-grow: 0;
    margin-left: 0px;
}

.craft-recipe-sheet {
    min-height: 600px !important;
}

.craft-recipe {
    display: flex !important;
    flex-direction: column !important;
}

.craft-recipe .components-header {
    width: 100%;
    height: 20px;
    margin: 0px;
    padding: 0px 12px 0px 6px;
    border: 1px solid #736953a6;
    font-family: var(--actor-label-font-family);
    font-size: var(--actor-label-font-size);
    font-weight: var(--actor-label-font-weight);
    color: var(--actor-label-color);
    background: none;
    box-shadow: 0 0 10px #6b3a0f87 inset;
    text-align: left;
    display: inline-flex;
}

.craft-recipe .input-container {
    flex-grow: 2;
    padding-top: 0 !important;
    text-align: center;
    min-width: 96px;
}

.craft-recipe .item-details label {
    flex-grow: 0 !important;
    min-width: 70px;
}

.craft-recipe .input-container .padded {
    margin-top: 5px !important;
    width: auto;
}

.craft-recipe .item-details select {
    width: 100%;
    height: 100%;
    text-align: center;
}

.craft-recipe .content {
    height: auto !important;
}

.craft-recipe .ingredients-list {
    flex:1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    margin-top: -45px;
}

.craft-recipe .result-container {
    /* min-height: 35px; */
    overflow: hidden;
}

.craft-recipe .items-placeholder {
    color: gray;
    font-style: italic;
}

.craft-recipe .divider {
    min-height: 10px;
}

.craft-item-controls .item-control {
    font-size: 1.5em
}

.chat-message-success {
    color: #00802a
}

.chat-message-error {
    color: #ad0000
}